@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row my-0">
        <div class="col-md-4">
            <img src="~/Content/Images/Banner.png"
                 class="my-0 img-fluid img-thumbnail"
                 alt="Image"
                 />
   .     </div>
        
        <div class="col-md-8">

            <h1>Middleman</h1>
            <p class="lead">Middleman is an application web for automating process about sales, pays and products in stock. </p>
            <a href="#" class="btn btn-link">Read more...</a>

        </div>

     
    </div>
</div>

<div class="row">
    <div class="col-md-3" id="navigationLateral">
        <div class="card border-info">
            <div class="card-header">
                Recent Pays
            </div>
            <div class="card-body text-info">

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a class="card-link"><small>2018/12/15 Alfredo Segura</small> </a>
                    </li>
                    <li class="list-group-item">
                        <a class="card-link"><small>2018/12/18 Alfredo Segura </small></a>

                    </li>
                    <li class="list-group-item">
                        <a class="card-link"><small>2018/12/21 Carlos Mambrake </small></a>

                    </li>
                </ul>

            </div>
        </div>
        
        <div class="card border-info my-sm-3">
            <div class="card-header">
                Last Purchases
            </div>
            <div class="card-body text-info">

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a class="card-link"><small>2018/12/27 Mochilas adidas</small> </a>
                    </li>
                    <li class="list-group-item">
                        <a class="card-link"><small>2018/12/23 Jabon palmolive </small></a>

                    </li>
                    <li class="list-group-item">
                        <a class="card-link"><small>2018/12/21 Shampoo pantene </small></a>

                    </li>
                </ul>

            </div>
        </div>

    </div>

    <div class="col-md-6">
        <div class="card mb-3 border-primary">
             <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <img class="card-img-top" src="~/Content/Images/stock_product1.png" alt="Card image"
                             style="width:200px;height:200px;max-width: 100%; height: auto;"/>
                    </div>
                    <div class="col-sm-8">
                        <h4 class="card-title">Stock</h4>
                        <p class="card-text">You can find products in stock width several states </p>
                        <a href="#" class="btn btn-primary">Stock</a>
                    </div>
                </div>
               
            </div>
        </div>
        <div class="card my-3 border-primary">
             <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <img class="card-img-top" src="~/Content/Images/product_transfer.png" alt="Card image"
                             style="width:200px;height:200px;max-width: 100%; height: auto;"/>
                    </div>
                    <div class="col-sm-8">
                        <h4 class="card-title">Transfers</h4>
                        <p class="card-text">Sales and Purchases.</p>
                        <a href="#" class="btn btn-primary">Transfers</a>
                    </div>
                </div>

                
            </div>
        </div>
        <div class="card my-3 border-primary">
           <div class="card-body">
               <div class="row">
                   <div class="col-sm-4">
                       <img class="card-img-top" src="~/Content/Images/intermediario_pago.jpeg" alt="Card image"
                            style="width:auto;height:130px;max-width: 100%;"/>
                   </div>
                   <div class="col-sm-8">
                       <h4 class="card-title">Pays</h4>
                       <p class="card-text">You can create and filter pays by different providers.</p>
                       <a href="#" class="btn btn-primary">Pays</a>
                   </div>
               </div>
              
             
            </div>
        </div>
       
        <div class="card my-3 border-primary">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <img class="card-img-top" src="~/Content/Images/configuracion.jpeg" alt="Card image"
                             style="width:200px;height:200px;max-width: 100%; height: auto;" />
                    </div>
                    <div class="col-sm-8">
                        <h4 class="card-title">Configuration</h4>
                        <p class="card-text">First of all you must configure providers, categories, product and messengers.</p>
                        <a href="#" class="btn btn-primary">Configuration</a>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card border-info">
            <div class="card-header">
                Gallery
            </div>
            <div class="card-body text-info">

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a class="card-link"><small>Aseo personal</small> </a>
                    </li>
                    <li class="list-group-item">
                        <a class="card-link"><small>Calzado </small></a>

                    </li>
                    <li class="list-group-item">
                        <a class="card-link"><small>Bolsos</small></a>

                    </li>
                </ul>

            </div>
        </div>

        <div class="card border-info my-sm-3">
            <div class="card-header">
                Work team
            </div>
            <div class="card-body text-info">

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="~/Content/Images/IMG_20180830_094218.jpg"
                                     alt="Image"
                                     class="mr-0 mt-0 rounded-circle"
                                     style="width:50px;height:50px;max-width: 100%; height: auto;" />
                            </div>
                            <div class="col-md-8">
                                <h6>Owner</h6>
                                <small class="text-secondary"> Erislandy Cabrales</small>
                            </div>
                        </div>


                    <li class="list-group-item">

                        <div class="row">
                            <div class="col-md-4">
                                <img src="~/Content/Images/roxana_user.jpg"
                                     alt="Image"
                                     class="mr-0 mt-0 rounded-circle"
                                     style="width:50px;height:50px;max-width: 100%; height: auto;" />

                            </div>
                            <div class="col-md-8">
                                <h6>Employee</h6>
                                <small class="text-secondary">Roxana Jerez</small>
                            </div>
                        </div>

                    </li>
               
                </ul>

            </div>
        </div>

    </div>
   


</div>